{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    body {
        font-family: "Lato", Arial, sans-serif;
        font-size: 16px;
        line-height: 1.8;
        font-weight: normal;
        background: #f8f9fd;
        color: gray;
    }
    .wrapper {
        padding: 4em 0;
    }
    .login-wrap {
        position: relative;
        background: #fff;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
        -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
        box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
    }
    .login-wrap .icon {
        width: 80px;
        height: 80px;
        background: #1089ff;
        border-radius: 50%;
        font-size: 30px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .login-wrap .icon span {
        color: #fff;
    }
</style>
{% endblock %}

{% block body %}
<section class="wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
            <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-user-o"></span>
            </div>
            <h3 class="text-center mb-4">Sign In</h3>
                    <form action="#" class="login-form">
                <div class="form-group">
                    <input type="text" class="form-control rounded-left" placeholder="Username" required>
                </div>
            <div class="form-group d-flex">
                <input type="password" class="form-control rounded-left" placeholder="Password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Login</button>
            </div>
            <div class="form-group d-md-flex">
                <div class="w-50">
                    <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input type="checkbox" checked>
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-md-right">
                                <a href="#">Forgot Password</a>
                            </div>
            </div>
            </form>
        </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}